        .certificate-container {
            /*padding: 50px;*/
            height: auto;
            width: 100%;
        }

        .certificate {
            border: .2rem solid black;
            padding: 2%;
            height: 90%;
            position: relative;
        }
        
        .certificate-table {
            width: 100%;
        }

        .logo-left {
            top: 50px;
            left: 100px;
        }

        .logo-right {
            top: 50px;
            right: 100px;
        }

        .logo-center {
            display: flex;
            justify-content: center;
            margin-left: 22%;
            margin-top: 3%;
            margin-bottom: 5%;
        }
        
        .certificate-header {
            position: relative;
        }
        .certificate-text {
            position: absolute;
            bottom: 40px;
            left: 50%;
            transform: translateX(-50%);
            font-family: "Times New Roman", Times, serif;
            font-size: 19px;
            text-align: center;
        }

        .bold {
            font-weight: bold;
        }

        .wordart-container {
            margin-bottom: 130%;
            position: relative;
        }
        
        .wordart-text {
            font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif; /* Use Palatino Linotype font */
            font-size: 25px;
            color: #336699; /* Color declaration for the text */
            position: absolute;
            top: 0;
            left: 0;
            z-index: 2; /* Ensure text is above shadow */
        }
        
        .wordart-shadow {
            font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
            font-size: 25px;
            position: absolute;
            top: 3px; /* Move shadow downwards */
            left: 4px; /* Offset shadow to the right */
            text-shadow: 1px 1px 2px #E7E7E7; /* Black shadow effect */
            z-index: 1; /* Ensure shadow is behind text */
        }
        
        .wordart-text {
            left: 0;
            z-index: 2; /* Ensure text is above shadow */
        }
        
        table {
            width: 100%;
            border-collapse: collapse;
            margin-top: 20px;
        }
        
        table, th, td {
            border: 1px solid #000;
            font-size: smaller; /* Apply font-size: smaller; to all table cells */
        }
        
        th, td {
            font-weight: bold; /* Make all text in table headers and data cells bold */
        }
        
        
        th, td {
            padding: 8px;
            text-align: left;
        }

        